* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}
body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #4c2506f4 !important;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.section-admin-hero {
  background-image: linear-gradient(to right bottom, #120a028e, #2311038d),
    url(./admin-hero-img.jpeg);
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-bottom: 8rem;
}
.restaurant-page-container {
  background-color: #fff2e8;
  min-height: 100vh;
}

.main-course3 {
  /* padding: 0 3rem; */
  padding-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
.overall3 {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 30rem;
  min-width: 27rem;
  padding: 10px;
}
.content-box3 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #fff;
}
.img3 {
  max-width: 58%;
  object-fit: contain;
  border-radius: 5px;
  transition: all 0.2s;
  max-height: 13rem;
}
.img2:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.description3 {
  font-size: 1.5rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  width: 63%;
  /* border: 1px solid ; */
}
.delivery-address {
  font-size: 1.5rem;
}
.description-status3 {
  color: #999;
  font-size: 1rem;
}
.dish-name3 {
  font-size: 2rem;
  color: #fd7e14;
}
.click-order3 {
  background-color: #fff;
  /* border: 1px solid; */
  width: 3rem;
  margin-left: 90%;
}

.click-order3-icon {
  color: #fd7e14;
  cursor: pointer;
  font-size: 1.5rem;
}

.admin-loc {
  font-size: 1.5rem;
}

.addAdmin-btn {
  background-color: #fd7e14;
  border: none;
  cursor: pointer;

  border-radius: 0 2rem 2rem 0;
  color: #fff2e8;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.6rem;
}

.addAdmin-btn2 {
  background-color: #efbd80;
  border: none;
  cursor: pointer;
  /* right: 38px; */
  border-radius: 0 2rem 2rem 0;
  color: #fff2e8;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.delivery-error {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #6a0303;
}
.general-footer {
  height: auto;
  padding: 0.7rem 1.4rem;
  background-color: #2d1909;
  color: #fff2e8;
  font-size: 1.2rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 100%;
}
.footer-logo-box {
  width: 12rem;
}
